
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.headbar__menu-item:hover{
  cursor:pointer;
}

.main-container{
  border: solid 1px #e6e6e6;
  margin: 16px 0;
  padding: 16px;
  /* min-height: 90vh; */
  height: 90vh;
}


.articles-container{
  border: solid 1px #e6e6e6;
  margin: 16px 0;
  padding: 16px;
  border-radius: 8px;

  .sandwich {
    display: flex;
    justify-content: space-between;

    &__actions{
      margin-left: 32px;

      .fas{
        font-size: 2em;
        margin-left: 8px;
        cursor:pointer;
      }

      .fa-plus-square {
        color: #72a972;
      }

      .fa-minus-square {
        color: #c5655a;;
      }
    }


  }

}

.command-details-container {
  border: solid 1px #e6e6e6;
  margin: 16px 0;
  padding: 16px;
  border-radius: 8px;
}


.commands-container {
  display:flex;
  justify-content: space-around;
}

.sandwich{
  display: flex;
  justify-content: space-between;
  max-width: 28vw;

  .fa-trash-alt {
    font-size: 2em;
    color: #c5655a;;
    margin-left: 64px;
    cursor:pointer;
  }
}

